<body>
	<div class= "center-nav">
	 <div class="wrapper">
	 	<nav class="left-nav">
		  <header class="nav-header">	
				<img class="user-avater" src="<%= gravatar_url %>" title="source: imgur.com" alt="user avater" height="60" width="60">
		   	  <h4 class="user-name"><%= current_user.name if current_user%></h4>		
			</header>
				<ul class="bottom-links">
					<% if @categories %>
					<% @categories.each do |item| %>
				<li>
					<a href="category/<%= item.id %>"><i class=" fa fa-folder"></i><%=item.name%></a>				
				</li>
				<% end %>
				<% end %>
			</ul>	
		</nav>
		<div style="clear: both;"></div> 
		<section class="note-section"> 
		</section>
	</div><!--  end of wrapper -->
</div><!--  end of center-nav -->
  <div class="wrapper">
  	<div id="note-div">
  		<% if @posts %>
			<h1 class="posts-head">List of all notes</h1> 
		</div>
		<div class="add-btns">
		 	<a href="posts/new" class="btn  btn-success btn-size">New Note</a><a href="#" data-toggle="modal" data-target="#addCategory" class="btn btn-primary location width33 plus">Add Category</a>	
		</div>
	  <hr class="dodo">
		<% @posts.each do |post| %>
		<div class='row start-of-post' >
			<div class='col-md-12'>	
				<br>
	 		<a href="/posts/<%=post.id%>"><%= post.title %></a>
	 		 <br>
	 		 <%= markdown post.content %>
	 		<hr>
	 	 </div>
	 </div>
	 	<%end%>
	 	<%end%>
	 </div>
  </div><!--  end of wrapper -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
         <%= bootstrap_form_for :categories, :html => { :id=> "identicalForm"}, url: '/category' do |f| %>
				<h1 class ="center-head">Add category!</h1>
        <%= f.text_field :name,autofocus: true, placeholder: 'Category', hide_label: true %>
        <%= f.submit "Submit",  class: 'btn  btn-success check' %>
				<% end %>
    	</div>
  	</div>
	</div>
</div>
