<h1 class="align-center">New post</h1>

<%= bootstrap_form_for :post, :html => { :method=> "POST",:id=> "identicalForm"}, url: '/posts/' + @post.id.to_s do |f| %>

            <div class="field">
    
    <%= f.text_field :title,placeholder: 'Title', hide_label: true %>
  </div>
  <div class="field">
    
    <%= f.text_area :content,placeholder: 'Content', hide_label: true, class: "text-area" %>
  </div>
  <div class="field">
    
    <%= f.text_field :category_id, placeholder: 'Category ID', hide_label: true %>
  </div>
            <%= f.submit "Submit",  class: 'btn btn-warning check' %>

          <% end %>
<center>


