<div class="buffer"></div>
<section class="note-section">
<p id="notice"><%= notice %></p>

<p>
  
  <h2><%= @post.title %></h2>
</p>

<p>
  <div id="content">
  <%= markdown @post.content %>
  <div>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name  if @post.category%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', home_path %>
</div>
</section>